
{
  "GOOGLE_REFRESH_TOKEN": "1//04example_refresh_token_replace_this",
  "GOOGLE_ACCESS_TOKEN": "ya29.example_access_token_replace_this",
  "GOOGLE_CLIENT_ID": "your-client-id.apps.googleusercontent.com",
  "GOOGLE_CLIENT_SECRET": "your-client-secret"
}
